<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webtools</title>

  <link href="css/webtools-site-min.css?{{{WEBTOOLS_FILE_VERSION}}}" type="text/css" rel="stylesheet" media="all" />

  <style>
    {{>index-min.css.hbs}}
  </style>

</head>

<body>

  <section class="webtools-container">

    <h1>Webtools description</h1>

    <p>
      Webtools is a framework to ease building static website.
      It includes
    <ul>
      <li> preprocessor capabilities, include of common parts of the website,</li>
      <li> minification of files, </li>
      <li> image optimization, </li>
      <li>and automatic validation of the built website.</li>
    </ul>
    </p>

    <h2> Installation </h2>
    <p>

      Install the sources: the framework, as well as the test website (this one!)
      <code>
        git clone https://github.com/pascal-brand38/webtools.git
      </code>
    </p>

    <p>
      Install dependencies:
      <code>
        npm install
      </code>
    </p>

    <div class="local-grid-2">
      <!-- the effect to demonstrate -->
      <div style="width: fit-content; block-size: fit-content; margin:auto;">
        <div class="webtools-neon webtools-secondary-font-family webtools-font-size-190-bold"
            style="--webtools-neon-RGB: 0, 0, 255;
                   --webtools-neon-speed: 0.50s;
                   --webtools-neon-rotate: -30deg;">
          Neon <br> Effect
        </div>
      </div>

      <!-- the related code -->
      <div class="webtools-tabs">
        <nav class="webtools-tabs--bar">
          <!-- added inputs and labels for this demo -->
          <label for="tab1-1">hbs / html
            <input type="radio" name="radiotabs1" id="tab1-1" checked>
          </label>

          <label for="tab2-1">scss
            <input type="radio" name="radiotabs1" id="tab2-1">
          </label>

          <label for="tab3-1">js
            <input type="radio" name="radiotabs1" id="tab3-1">
          </label>

        </nav>

        <!-- this extra wapper is needed to solve this without script -->
        <div class="webtools-tabs--all-tabs-contents">
          <div class="webtools-tabs--one-tab-content">
            <code>
              &lt;div class="webtools-neon" <br>
              &nbsp;&nbsp; style="--webtools-neon-RGB: 0, 0, 255;<br>
              &nbsp;&nbsp;&nbsp;&nbsp; --webtools-neon-speed: 0.50s;<br>
              &nbsp;&nbsp;&nbsp;&nbsp; --webtools-neon-rotate: -30deg;"&gt;<br>
              &nbsp;&nbsp;  Neon &lt;br&gt; Effect<br>
              &lt;/div&gt;<br>
            </code>
          </div>
          <div class="webtools-tabs--one-tab-content">
            <code>
              @import "webtools/composition/neon.scss";
            </code>
          </div>
          <div class="webtools-tabs--one-tab-content">
          </div>
          <div class="webtools-tabs--one-tab-content">
          </div>
        </div>
      </div>

    </div>


    </div>



    <div class="local-grid-2">
      <!-- the effect to demonstrate -->
      <div style="width: fit-content; block-size: fit-content; margin:auto;">
        <div class="webtools-neon webtools-secondary-font-family webtools-font-size-190-bold">
          Neon <br> Effect
        </div>
      </div>

      <!-- the code - tabs from https://codepen.io/alvarotrigo/pen/QWqXYmG -->
      <div class="webtools-tabs">
        <nav class="webtools-tabs--bar">
          <!-- added inputs and labels for this demo -->
          <label for="tab1-2">hbs / html
            <input type="radio" name="radiotabs2" id="tab1-2">
          </label>

          <label for="tab2-2">scss
            <input type="radio" name="radiotabs2" id="tab2-2" checked>
          </label>

          <label for="tab3-2">js
            <input type="radio" name="radiotabs2" id="tab3-2">
          </label>
        </nav>

        <!-- this extra wapper is needed to solve this without script -->
        <div class="webtools-tabs--all-tabs-contents">
          <div class="webtools-tabs--one-tab-content">
            <pre>
&lt;div class="webtools-neon"&gt;
  Neon &lt;br&gt; Effect
&lt;/div&gt;
</pre>
          </div>
          <div class="webtools-tabs--one-tab-content">
            <pre>
// colors of the neon
$webtools-neon-R: 0;
$webtools-neon-G: 0;
$webtools-neon-B: 255;
// animation speed
$webtools-neon-speed: 0.50s !default;
@import "webtools/composition/neon.scss";
          </pre>
          </div>
          <div class="webtools-tabs--one-tab-content">
          </div>
          <div class="webtools-tabs--one-tab-content">
          </div>
        </div>
      </div>

    </div>


    </div>



    </div>
</body>

</html>