<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webtools</title>

  <link href="css/webtools-site-min.css?{{{WEBTOOLS_FILE_VERSION}}}" type="text/css" rel="stylesheet" media="all" >

  <style>
    {{>webtools-templates-min.css.hbs}}
  </style>

</head>

<body>

  <section class="webtools-container">

    <h1> Templates from WebTools </h1>

    <h2> Neon Effect </h2>

    <div class="local-grid-2">
      <!-- the effect to demonstrate -->
      <div class="webtools-secondary-font-family webtools-font-size-190-bold" style="width: fit-content; block-size: fit-content; margin:auto;">
        <div class="webtools-neon"
            style="--webtools-neon-RGB: 0, 0, 255;
                   --webtools-neon-speed: 0.50s;
                   --webtools-neon-rotate: -30deg;">
          Neon
        </div>
        <div class="webtools-neon">
          Effect
        </div>
      </div>

      <!-- the related code -->
      <div class="webtools-tabs">
        {{{webtoolsTabsBar tab1='hbs / html' tab2='scss' tab3='js' }}}
        <div class="webtools-tabs--all-tabs-contents">
          <div class="webtools-tabs--one-tab-content">
            <code>
              &lt;div class="webtools-neon" <br>
              &nbsp;&nbsp; style="--webtools-neon-RGB: 0, 0, 255;<br>
              &nbsp;&nbsp;&nbsp;&nbsp; --webtools-neon-speed: 0.50s;<br>
              &nbsp;&nbsp;&nbsp;&nbsp; --webtools-neon-rotate: -30deg;"&gt;<br>
              &nbsp;&nbsp;  Neon<br>
              &lt;/div&gt;<br>
              &lt;div class="webtools-neon" <br>
              &nbsp;&nbsp;  Effect<br>
              &lt;/div&gt;
            </code>
          </div>
          <div class="webtools-tabs--one-tab-content">
            <code>
              @import "webtools/composition/neon.scss";
            </code>
          </div>
          <div class="webtools-tabs--one-tab-content"> // No JS is required </div>
          <div class="webtools-tabs--one-tab-content"> </div>
        </div>
      </div>

    </div>

    <!--
    <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="ExJYZre" data-user="pbrand" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
      <span>See the Pen <a href="https://codepen.io/pbrand/pen/ExJYZre">
      Webtools - Neon Effect</a> by pascal.brand38@gmail.com (<a href="https://codepen.io/pbrand">@pbrand</a>)
      on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
    -->

    <h2> Polaroid </h2>
    <!--

          <div class="webtools-polaroids">
        <a href="index.html" title="Caramel">
          <img src="https://source.unsplash.com/9dmycbFE7mQ"/>
          Some text in Polaroid
        </a>
          </div>
-->
          <div class="webtools-polaroids">
          <img src="https://source.unsplash.com/9dmycbFE7mQ" alt="Polaroid"/>
          Some text in Polaroid
          </div>


  </section>
</body>

</html>